{% extends "TworzeniewebFitnessBundle::layout.html.twig" %}

{% block content %}

<div class="five columns">

{% if page %}
{{ page.body|raw }}
{% endif %}


</div>

<div class="fb-like-box seven columns" data-href="http://facebook.com/fitness.romanow" data-width="600" data-height="500" data-show-faces="true" data-stream="true" data-header="true"></div>

{% endblock %}