{% block textarea_widget %}
  {% spaceless %}
  <div class="textarea_widget">
    <textarea {{ block('widget_attributes') }}>{{ value|raw }}   </textarea>
  </div>
  {% endspaceless %}
{% endblock %}
